
<div style="margin-left: 10px; width: 95%; height: 100%;overflow: hidden;"> 
    <table mat-table [dataSource]="energyRequestDataSource">
        
        <!-- buyer info -->
        <ng-container matColumnDef="energy">
            <th mat-header-cell *matHeaderCellDef> Energy (kWh) </th>
            <td mat-cell *matCellDef="let element"> {{element.energy}} </td>
        </ng-container>

        <!-- energyAmount info -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price (RM) </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>


        <!-- fiatAmount info -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Request Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>




         <!-- bid button -->
         <ng-container matColumnDef="bidBtn">
            <th mat-header-cell *matHeaderCellDef> Make a bid </th>
            <td mat-cell *matCellDef="let element">
                <button type="bid" class="btn btn-success" (click)="bid(element)">Bid</button>    
            </td>
            
            
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="energyRequestDisplayedCols"></tr>
        <tr mat-row *matRowDef="let row; columns: energyRequestDisplayedCols;"></tr>

    </table>
    <mat-paginator 
        [pageSizeOptions]="[5, 10]" 
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
     </mat-paginator>
</div>