<div  style="width:100%; height:100%; background-color: #EBEDEC; ">


    <div class="container-fluid" style="background-color: #EBEDEC;">

        <!-- Buy order header -->
        <div class="row no-gutter">
            <div class="col-md-12"  style="margin:auto; text-align: center; padding: 10px;">
                <h1 style="font-size: 46px; font-weight:500; color:#2D323B">
                   Electric Vehicle Charging
                   <img class="images" src="../../assets/EV_Charging.png" style="height: 5%; width: 5%; display: inline-flex; opacity: 0.9;">

                </h1>
            </div>
        </div>



        <!-- Consumption forecasting graph -->
        <div class="row no-gutter">
            <div class="col-md-12" style="text-align: center;">
                <!-- Buy amount prediction graph goes here  -->
                <div style="display: block;width: 100%;">
                    <!-- Loading for order card form -->
                    <div *ngIf="isLoading" style="text-align: center;">
                        <h3>Loading charts...</h3>
                        <mat-progress-spinner
                        
                            diameter = "50"
                            [color]="color"
                            [mode]="mode"
                            [value]="value">
                        </mat-progress-spinner>
                    </div>


                    <!-- Show chart when loading is done -->
                    <div *ngIf="!isLoading" style="padding: 5px;"> 
                        <h1 style="font-size: 20px; color: #28282B">State of EV over the charging duration for last 24hrs </h1>
                        <canvas baseChart width="500" height="120"
                            [datasets]="chartData"
                            [labels]="xAxis"
                            [options]="lineChartOptions"
                            [legend]="true"
                            [chartType]="'line'"
                            [colors]="chartColors"
                            >
                        </canvas>
                    </div>
                    
                </div>
            </div>
        </div>
    
    </div>


</div>